body {
    margin: 0;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 50px;
}

p {
    color: #6a6a6a;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 55, 0), tomato);
    padding: 14px 20px;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}

.submit-btn {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 55, 0), tomato);
    padding: 20px 20px;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
}

.container {
    display: flex;
    margin-bottom: 150px;
}

.clr {
    color: orangered;
}

.section-title p {
    width: 39%;
    margin: 0 auto;
}



.top-banner {
    background-repeat: no-repeat;
    height: 600px;
    background-position: center center !important;
    background-size: cover;
    background-image: url(images/donation0.jpg);
}



.top-banner {
    color: #fff;
    z-index: 1;
    position: relative;
}


.top-banner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    opacity: .7;
    background-color: rgb(36 36 36 / 90%);
    z-index: -1;
}


.hero_desc {
    top: 20%;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.hero_desc p {
    width: 60%;
    color: #e0e6fc;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 120px;
}

.amount-item {
    text-align: center;
    width: 50%;
    padding-left: 2%;
}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 2%;
    border-radius: 10px;
    background-color: #faf7f7;
}

.box4 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 2%;
    color: tomato;
    border-radius: 10px;
    border: 1px solid tomato;
    background-color: #faf7f7;
}




.submit_tk {
    text-align: center;
    margin: 0 auto;
}



.donate-plan,
.updates {
    margin-top: 160px;
}

.box1 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 2%;
    border-radius: 10px;
    background-color: #e0e6fc;
}

.box2 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 2%;
    border-radius: 10px;
    background-color: #fbdbfc;
}

.box3 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 2%;
    border-radius: 10px;
    background-color: #ece6b3;
}


.depend {
    width: 50%;
    padding-left: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.depend img {
    width: 100%;
    border-radius: 14px;
}


.subscribe-form input {
    border: 2px solid #E1E1E1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    background-color: #e5e5e5;
    width: 40%;
    color: #2E2E2E;

}